## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [100]:
# Your code here

#sample_list_1 = [(random.randrange(100))]

population = range(0,100)
k = 80

sample_list_1 = random.sample(population, k)

print(sample_list_1)
print('------------------------------')
print(len(sample_list_1))

[55, 40, 29, 93, 44, 56, 98, 18, 74, 57, 33, 95, 89, 4, 34, 73, 30, 78, 1, 66, 85, 8, 67, 35, 83, 9, 26, 28, 82, 84, 45, 49, 31, 3, 76, 62, 59, 37, 60, 75, 87, 36, 50, 99, 52, 38, 58, 54, 42, 7, 92, 5, 21, 2, 63, 27, 13, 88, 96, 65, 25, 43, 23, 48, 24, 16, 72, 61, 15, 46, 0, 77, 64, 53, 6, 94, 41, 97, 10, 80]
------------------------------
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [31]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))
print(type(set1))

80
<class 'set'>

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [46]:
# Your code here
sample_list_2 = []

for i in range (0,80):
    sample_list_2.append(random.randint(0,100))
    
    
#comprehension
# sample_list_2=[random.randrange(100) for i in range(80)]


print(sample_list_2)
print('--------------')
print(len(sample_list_2))

[77, 90, 80, 58, 64, 0, 62, 69, 25, 11, 50, 24, 77, 77, 1, 73, 87, 39, 31, 55, 87, 19, 38, 10, 66, 35, 48, 49, 88, 55, 61, 92, 73, 19, 92, 25, 34, 12, 45, 63, 34, 89, 33, 87, 46, 88, 37, 42, 13, 86, 7, 1, 31, 27, 6, 54, 29, 95, 23, 41, 48, 46, 13, 65, 87, 68, 27, 4, 99, 25, 27, 70, 25, 63, 48, 89, 97, 88, 76, 30]
--------------
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [47]:
# Your code here

set2 = set(sample_list_2)

print(set2)
print(type(set2))
print(len(set2))

#yes 
#gör ett så et funkar, gör ett så ett ser bra ut, gör et så et funkar

{0, 1, 4, 6, 7, 10, 11, 12, 13, 19, 23, 24, 25, 27, 29, 30, 31, 33, 34, 35, 37, 38, 39, 41, 42, 45, 46, 48, 49, 50, 54, 55, 58, 61, 62, 63, 64, 65, 66, 68, 69, 70, 73, 76, 77, 80, 86, 87, 88, 89, 90, 92, 95, 97, 99}
<class 'set'>
55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [60]:
# Your code here

compare = set1.intersection(set2)

us1s2 = []

for i in set1:
    if i in compare:
        pass
    else:
        us1s2.append(i)

set3 = set(us1s2)

print(set3)
print('-----------')
print(len(set3))
print(type(set3))

{2, 3, 9, 14, 15, 16, 17, 18, 20, 21, 22, 26, 28, 32, 36, 40, 43, 47, 51, 53, 56, 57, 59, 60, 71, 72, 75, 78, 79, 81, 82, 83, 84, 85, 91, 96, 98}
-----------
37
<class 'set'>

# Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [64]:
# Your code here

compare2 = set2.intersection(set1)

us1s2_2 = []

for i in set2:
    if i in compare:
        pass
    else:
        us1s2_2.append(i)

set4 = set(us1s2_2)

print(set4)
print('-----------')
print(len(set4))
print(type(set4))

{97, 35, 99, 42, 12, 45, 46, 77, 55, 54, 23, 90}
-----------
12
<class 'set'>

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [70]:
# Your code here

set5 = set(compare)

print(set5)
print('-----------')
print(len(set5))
print(type(set5))

{0, 1, 4, 6, 7, 10, 11, 13, 19, 24, 25, 27, 29, 30, 31, 33, 34, 37, 38, 39, 41, 48, 49, 50, 58, 61, 62, 63, 64, 65, 66, 68, 69, 70, 73, 76, 80, 86, 87, 88, 89, 92, 95}
-----------
43
<class 'set'>

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

a = len(set1)
b = len(set2)
c = len(set3)
d = len(set4)
e = len(set5)

#### Create an empty set called `set6`.

In [74]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [75]:
# Your code here

set6.update(set3, set5)

print(set6)

{0, 1, 2, 3, 4, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 47, 48, 49, 50, 51, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 95, 96, 98}

#### Check if `set1` and `set6` are equal.

In [76]:
# Your code here

if set1 == set6:
    print('equal')

equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [86]:
# Your code here

print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [89]:
# Your code here

union1 = set3.union(set4 , set5)
union2 = set1.union(set2)

union1 == union2

True

#### Using the `pop` method, remove the first element from `set1`.

In [94]:
# Your code here
print(set1)
set1.pop()
print('--------')
print(set1)
print(len(set1))

{2, 3, 4, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 47, 48, 49, 50, 51, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 95, 96, 98}
--------
{3, 4, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 47, 48, 49, 50, 51, 53, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 95, 96, 98}
77

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [97]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)

{3, 4, 6, 7, 10, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 43, 47, 48, 50, 53, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 95, 96, 98}